<!-- books.component.html -->
<div ng-controller="BooksController">
    <div class="main-content">
        <h2 class="text-center">Books List</h2>
        
        <!-- Search Bar -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="query" placeholder="Search for books...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="searchBooks()">Search</button>
                    </span>
                </div>
            </div>
        </div>

        <!-- Book Table -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>image</th>
                            <th>Title</th>
                            <th>Authors</th>
                            <th>Show More</th>
                            <th>Favorite</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="book in books">
                            <td><img style="width: 60px;height: 60px;" src="{{ book.volumeInfo.imageLinks['smallThumbnail'] }}"/> </td>
                            <td>{{ book.volumeInfo.title }}</td>
                            <td>{{ book.volumeInfo.authors.join(', ') }}</td>
                            <td>
                                <button class="btn btn-info btn-sm" ng-click="showMoreDetails(book)">Show More</button>
                            </td>
                            <td>
                                <button class="btn btn-warning btn-sm" ng-click="toggleFavorite(book)">
                                    {{ book.favorite ? 'Remove from Favorites' : 'Add to Favorites' }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Pagination Controls -->
        <div class="row" style="border: 1px solid red;height: 200px;width: 100%;">
            <div class="col-md-12 text-center">
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="5" ng-change="pageChanged($event)"></ul>
                <!-- <div uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="5" ng-change="pageChanged()"></div> -->
            </div>
        </div>
    </div>
</div>
